@model Stopwatch.Models.Engagement

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Engagement</legend>

        @Html.HiddenFor(model => model.EngagementID)

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberID)
            @Html.ValidationMessageFor(model => model.MemberID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectID)
            @Html.ValidationMessageFor(model => model.ProjectID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StopTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StopTime)
            @Html.ValidationMessageFor(model => model.StopTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeSpan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeSpan)
            @Html.ValidationMessageFor(model => model.TimeSpan)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
