@model WebTimer4.Models.Member

@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/ChartJS/Chart.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<meta name="viewport" content="initial-scale = 1, user-scalable = no">

<h2>Details</h2>

<fieldset>
    <legend>Member</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StopTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StopTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalHours)
    </div>
    <div class="display-field" id="hours">
        @Html.DisplayFor(model => model.TotalHours)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="main-content">
    <section class="featured">
        <canvas id="MemberChart" width="400" height="400"></canvas>
        
        <script type="text/javascript">

            var hoursWorked = "@(Model.TotalHours)";

            var data = [
	            {
	                value: 30,
	                color: "#F38630"
	            },
	            {
	                value: 40,
	                color: "#E0E4CC"
	            },
	            {
	                value: 100,
	                color: "#69D2E7"
	            }
            ]

            //Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#MemberChart").get(0).getContext("2d");
            //This will get the first returned node in the jQuery collection.
            var myNewChart = new Chart(ctx);

            //Pie Chart
            new Chart(ctx).Pie(data);
        </script>
    </section>
</div>
